.corp{
	text-align: center;
	color: #e67e22;
	background-color: #abaca6;
	font-size: 300%;
	padding: 50px;
	margin: 0%;
}
#lex{
	padding-top:10px;
	width:100%;
}
#login{
	padding-top:10px;
	width:100%;
}
#lexcorp{
	padding-top:10px;
	width:100%;
}
#lexbuild{
	padding-top:10px;
	width:100%;
}
#introtext{
	width: 70%;
	margin-left: 16.4%;
	margin-top: 13%;
}
.bg-1{
	background-color: #7f8c8d;
	color: #ecf0f1;
}