.glyphicon-ok {
	color: #00e000;
}
.glyphicon-remove {
	color: #e00000;
}
.glyphicon-pencil {
	color: #e0e000;
}

td {
	text-align: center;
}

button:hover{
	background-color: #b3b3ff;
}

button.deletar {
	background-color: #993333;
	float: left;
}

.tabela {
	width: 100%;
}

.glyphicon-trash {
	color: white;
}