<nav class="navbar navbar-inverse navbar-fixed-bottom">
		<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
    			<span class="icon-bar"></span>
   				<span class="icon-bar"></span>
    			<span class="icon-bar"></span>
  			</button>
  			<a class="navbar-brand" href="#">Lexcorp</a>
		</div>
		<div class="collapse navbar-collapse" id="myNavbar">
		<ul class="nav navbar-nav">
  			<li><a href="#Founder">Founder</a></li>
  			<li><a href="#Lexcorp">Lexcorp</a></li>
  			<li><a href="#Mission">Mission</a></li>
		</ul>
		<ul class="nav navbar-nav navbar-right">
    		
  		</ul>
		</div>
</nav>
<div class="container-fluid text-center">
	<div class="row bg-1">
		<h1 class="corp">LEXCORP</h1>
		<br> 
		<div class="col-sm-6">	
			<p id="introtext">"<span id="Founder">Lorem</span> ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et <span id="Bilionario">dolore</span> magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation <span id="Playboy">ullamco</span> laboris nisi ut aliquip ex ea commodo <span id="Genio">consequat</span>. Duis aute irure dolor in reprehenderit in voluptate velit esse <span id = "Filantropo">cillum</span> dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
		</div>
		<div class="col-sm-6" >
			<p>
				<img id="lex" src="http://cdn.movieweb.com/img.news.tops/NE7ZePimRKUKbd_2_a.jpg" alt="LexLuthor">
				<div id="login">
					<form role="form" action="../../login.php" method="POST" enctype="application/x-www-form-urlencoded">
						<div class="form-group">
  							<label for="usr">Name:</label>
  							<input type="text" name="usr" class="form-control" id="usr">
						</div>
							<div class="form-group">
  							<label for="pwd">Password:</label>
  							<input type="password" name="pwd" class="form-control" id="pwd">
						</div>
							<div class="form-group">
  							<input type="submit" name="submit" class="btn btn-default">
						</div>
						</form>
				</div>
			</p>
		</div>
	</div>

	<div class="row bg-1">
		<div class="col-sm-6">
			<p><img id="lexcorp" src="http://vignette1.wikia.nocookie.net/dcanimated/images/f/fc/LexCorp_tower.JPG/revision/latest?cb=20080715221110" alt="Lexcorp">
			</p>
		</div>
		<div class="col-sm-6">	
			<p id="introtext">"<span id="Lexcorp">Lorem</span> ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
		</div>
	</div>

	<div class="row bg-1">
		<div class="col-sm-6">	
			<p id="introtext">"<span id="Mission">Lorem</span> ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
		</div>
		<div class="col-sm-6">
			<p><img id="lexbuild" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTn5HVPoMarv1Kh5bDFfKbQl5y1RLi0JZyoufGavxbS9wVi7TK1gg" alt="Lexcorp Let's build a better tomorrow today">
			</p>
		</div>
	</div>

</div>
<script>
	$(document).ready(function(){
		$("#login").hide();
		$("#Bilionario").click(function(){
			$("#Playboy").click(function(){
				$("#Genio").click(function(){
					$("#Filantropo").click(function(){
						$("#lex").hide();
						$("#login").show();
					})
				})
			})
		})
	})
</script>
