<!DOCTYPE html>

<head>
  <meta charset="utf-8">
     <meta name="viewport" content="width=device-width, initial-scale=1">
     <link rel="stylesheet" type="text/css" href="../css/menu.css">
     <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
     <link href="http://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
     <link href="http://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
     <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>

<body>
    <nav class="navbar navbar-inverse navbar-top-fixed navbar-color-top padtop">
      <div class="container">
        <div class="navbar-header">
            <a href="#"> <span class="glyphicon glyphicon-align-justify glyph1"></span></a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="nav navbar-nav">
             <h1>Lex Corp</h1>
             <button type="button" class="irradiate dislocate-to-right">Emergência</button>
          </ul>
        </div>
      </div>
    </nav>
  <nav class="navbar navbar-inverse navbar-fixed-left navbar-color-left">
        <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="nav navbar-nav">
            <img src="../../../img/lex.jpg" class="lex">
            <li><a href="#">Tarefas em Andamento</a></li>
            <li><a href="#">Tarefas Fracassadas</a></li>
            <li><a href="#">Tarefas Concluídas</a></li>
            <span class="glyphicon glyphicon-off glyph2"></span>
            <li><a href="#">Log Out</a></li>
          </ul>
        </div>
    </nav>
</body>

</html>