<!DOCTYPE html>
<html>
<head>
	   <meta charset="utf-8">
     <meta name="viewport" content="width=device-width, initial-scale=1">
     <link rel="stylesheet" type="text/css" href="../css/menu.css">
     <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
     <link href="http://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
     <link href="http://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
     <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>

<body>
	<nav class="navbar navbar-default navbar-top-fixed navbar-color-top pad">
		<span class="container-fluid">
      <span id="clickable" class="glyphicon glyphicon-align-justify"></span>
    </span>
    <span>
      <button type="button" class="irradiate dislocate-to-right">Emergência</button>
    </span>
	</nav>

  <nav class="container-fluid">
  	<div class="navbar navbar-inverse navbar-fixed-left navbar-color-left">
  		<ul class="nav navbar-nav">
  			<li><button class="btn btn-default">Tarefas em Andamento</button></li>
  			<li><button class="btn btn-default">Tarefas Completadas</button></li>
  			<li><button class="btn btn-default">Tarefas Fracassadas</button></li>
  			<li><button class="btn btn-default">Log Out</button></li>
  		</ul>
  	</div>
  </nav>
	<table>
		<tr>
			<th></th>
		</tr>
	</table>

</body>

</html>