<!-- Para motivos de teste vou inserir o corpo do html -->
<!DOCTYPE html>
<html>

<head>
	<title>Teste da tabela</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="../css/tabelas.css">
  	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>

<body>
	<!-- Usar isso para base pro back end -->
	<div class="container-fluid">
		<div class="table-responsive">
			<table class="table table-bordered table-condensed">
				<thead>
					<tr class="active">
						<div class="row">
							<th class="col-md-7">Descrição</th>
							<th class="col-md-1">Início</th>
							<th class="col-md-1">Prazo</th>
							<th class="col-md-1">Sucesso</th>
							<th class="col-md-1">Fracasso</th>
							<th class="col-md-1">Editar</th>
						</div>
					</tr>
				</thead>

				<tbody>
					<!-- Item de exemplo -->
					<tr>
						<td>Descrição</td>
						<td>Início</td>
						<td>Prazo</td>
						<td><button id="sucesso" class="tabela"><span class="glyphicon glyphicon-ok"></span></button></td>
						<td><button class="tabela" type="button" data-toggle="modal" data-target="#fracasso"><span class="glyphicon glyphicon-remove"></span></button></td>
						<td>
						<button class="tabela" type="button" data-toggle="modal" data-target="#editar"><span class="glyphicon glyphicon-pencil"></span></button>
						</td>
					</tr>

					<!-- Parte de adicionar novo item -->
					<tr>
						<td class="col-md-7" colspan="2"><input class="tabela" type="text" id="descricao-nova"></td>
						<td class="col-md-1"><input class="tabela" type="text" id="prazo-novo"></td>
						<td colspan="3"><button class="tabela"><span class="glyphicon glyphicon-plus"></span></button></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

	<!-- Modal de editar campo -->
	<div id="editar" class="modal fade" role="dialog">
		<div class="modal-dialog">

			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title">Editar Compromisso</h4>
				</div>

				<div class="modal-body">
					<form role="form">
						<div class="form-group">
							<label for="descricao-editar">Nova descrição:</label>
							<input type="text" class="form-control" id="descricao-editar">
						</div>
						<div class="form-group">
							<label for="prazo-editar">Novo prazo: (melhorar o input)</label>
							<input type="text" class="form-control" id="prazo-editar">
						</div>
					</form>
				</div>

				<div class="modal-footer">
					<button id="deletar" type="button" class="btn btn-default deletar" data-dismiss="modal"><span class="glyphicon glyphicon-trash"></span>
					</button>
					<button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
					<button id="alterar" type="submit" class="btn btn-default" data-dismiss="modal">Confirmar</button>
				</div>
			</div>
			
		</div>
	</div>

	<!-- Modal de fracasso -->
	<div id="fracasso" class="modal fade" role="dialog">
		<div class="modal-dialog">

			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4>Fracasso!</h4>
				</div>

				<div class="modal-body">
					<form role="form">
						<div class="form-group">
							<label for="motivo">Escreva o motivo:</label>
							<input type="text" class="form-control" id="motivo">
						</div>
					</form>
				</div>

				<div class="modal-footer">
					<button id="fracassar" type="submit" data-dismiss="modal" class="btn btn-default">Confirmar</button>
				</div>
			</div>
			
		</div>
	</div>

</body>

</html>