<!-- Modal de deletar -->
<div id="deletar" class="modal fade" role="dialog">
	<div class="modal-dialog">

		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4>Deletar</h4>
			</div>

			<div class="modal-body">
				<p>Deseja mesmo deletar esse compromisso?</p>
			</div>

			<div class="modal-footer">
				<button id="deletar" type="button" class="btn btn-default deletar" data-dismiss="modal"><span class="glyphicon glyphicon-trash"></span>
				<button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
			</div>
		</div>
		
	</div>
</div>
<div class="container-fluid">
	<div class="table-responsive">
		<table class="table table-bordered table-condensed">
			<thead>
				<div class="row">
					<th class="col-sm-9">Descrição</th>
					<th class="col-sm-1">Início</th>
					<th class="col-sm-1">Fim</th>
					<th class="col-sm-1">Deletar</th>
				</div>
			</thead>
			
			<tbody>
				<!-- Exemplo de item -->
				<tr>
					<td>Descrição</td>
					<td>Início</td>
					<td>Fim</td>
					<td><button class="tabela" type="button" data-toggle="modal" data-target="#deletar"><span class="glyphicon glyphicon-remove"></span></button></td>
				</tr>
			